/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

html, body, body > div, body > div > div, body > div > div > div{
	height: 100%;
}

body{
	font-family: Muli, sans-serif !important;
	background-color: #efeff5;
	color: #183152;
}